---
title: default

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.css" integrity="sha512-Z0kTB03S7BU+JFU0nw9mjSBcRnZm2Bvm0tzOX9/OuOuz01XQfOpa0w/N9u6Jf2f1OAdegdIPWZ9nIZZ+keEvBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    <link rel="stylesheet" href="/style.css" />
    <script defer src="/js/select.js"></script>
    <script src="/js/dropdown.js"></script>
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="./assets/img/favicons/018/favicon.ico">
  </head>
  <body>

    {% include 'header.njk' %}
    
    {{ content | safe }}

    {% include 'footer.njk' %}

  </body>
  
</html>
