
<header>
        <nav>
            <input type="checkbox" name="" id="check">
            <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
            <label class="logo">WEB HOME 2025</label>
         <ul>
            <li><a href="#" class="active">HOME</a></li>
            <li><a href="#">Е-СЕРВИСИ</a></li>
            <li><a href="#">МИНИСТЕРСТВА</a></li>
            <li><a href="#">ИНСТИТУЦИИ</a></li>
            <li><a href="#">БАНКИ</a></li>
            <li><a href="#">LINUX</a></li>
         </ul>
        </nav>
    </header>