
<header>
        <nav>
            <input type="checkbox" name="" id="check">
            <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
            <label class="logo">WEB HOME 2025</label>
         <ul>
            <li><a href="/index" class="active">HOME</a></li>
            <li><a href="/e-servisi">Е-СЕРВИСИ</a></li>
            <li><a href="/ministerstva">МИНИСТЕРСТВА</a></li>
            <li><a href="/institucii">ИНСТИТУЦИИ</a></li>
            <li><a href="/banki_i_stedilnici">БАНКИ</a></li>
            <li><a href="/linux2">LINUX</a></li>
         </ul>
        </nav>
    </header>