---
title: Web-Home-2025-e-servisi
layout: 'base.njk'
---

<div class="naslov">
  <h1><a href="e-servisi.html">Е-СЕРВИСИ</a></h1>
</div>


<main class="servisi-wrapper">

<a href="https://takidaskalohr.jongisweb.com.mk/login/" target="_blank"><div class="servis" ">Tаки-Даскало-ХР</div></a>
<a href="https://e-trezor.finance.gov.mk/" target="_blank"><div class="servis" ">E-ОБВРСКИ</div></a>
<a href="https://e-ujp.ujp.gov.mk/" target="_blank"><div class="servis" ">Е-ПДД-2024</div></a>
<a href="https://e-pdd.ujp.gov.mk/" target="_blank"><div class="servis" ">Е-ПДД-2023</div></a>
<a href="https://etax-fl.ujp.gov.mk/" target="_blank"><div class="servis" ">Е-ДАНОЦИ</div></a>
<a href="https://www.e-nabavki.gov.mk/" target="_blank"><div class="servis" ">ЕСЈН</div></a>
<a href="https://peo.finance.gov.mk/" target="_blank"><div class="servis" ">Е-СПЕО</div></a>
<a href="https://estat.stat.gov.mk/" target="_blank"><div class="servis" ">Е-СТАТ</div></a>
<a href="https://online.evn.mk" target="_blank"><div class="servis" ">ЕВН-ХОМЕ</div></a>
<a href="https://hrm.gov.mk/" target="_blank"><div class="servis" "> Х Р М И С </div></a>
<a href="http://emis.mon.gov.mk/" target="_blank"><div class="servis" ">ЕСАРУ-ЕМИС</div></a>
<a href="https://ednevnik.edu.mk/" target="_blank"><div class="servis" ">Е-ДНЕВНИК</div></a>
<a href="https://moeosiguruvanje.fzo.org.mk/" target="_blank"><div class="servis" ">ФЗО-МОЕ-ОСИГУРУВАЊЕ</div></a>
<a href="https://app.nbrm.mk/o1450/" target="_blank" class="servis"><div class="servis kalkulator" ">Е-Калкулатор Образец-1450</div></a>
<a href="https://plata.m.ie.mk/" target="_blank" class="servis"><div class="servis kalkulator" ">Калкулатор на бруто - нето плата со сите придонеси</div></a>


</main>
