---
title : Web-Home-2025
layout: 'base.njk'
---

<div class="naslov">
  <h1><a href="institucii.html">Државни институции</a></h1>
</div>

<main class="main">

  <div class="container">
    <ul class="list">
      <a href="https://slvesnik.com.mk/" target="_blank"><li>Службен Весник на РСМ</li></a>
      <a href="http://ujp.gov.mk/" target="_blank"><li>Управа за јавни приходи</li></a>
      <a href="https://av.gov.mk/" target="_blank"><li>Агенција за вработување на РСМ</li></a>
      <a href="https://fzo.org.mk/" target="_blank"><li>Фонд за здравствено осигурување на РСМ</li></a>
      <a href="http://www.piom.com.mk/" target="_blank"><li>Фонд за пензиско и инвалидско осигурување на РСМ</li></a>
    </ul>
  </div>

  <div class="container">
    <ul class="list">
      <a href="https://www.katastar.gov.mk/" target="_blank"><li>Агенција за катастар на недвижности</li></a>
      <a href="https://crm.com.mk/" target="_blank"><li>Централен Регистар на РСМ</li></a>
      <a href="https://www.stat.gov.mk/Default.aspx" target="_blank"><li>Државен Завод за статистика</li></a>
      <a href="https://www.bjn.gov.mk/" target="_blank"><li>Биро за јавни набавки</li></a>
      <a href="https://www.bitola.gov.mk/" target="_blank"><li>Општина Битола</li></a>
    </ul>
  </div>

  <div class="container">
    <ul class="list">
      <a href="https://ener.gov.mk/" target="_blank"><li>Е Н Е Р</li></a>
      <a href="http://www.matura.gov.mk/" target="_blank"><li>Државна Матура</li></a>
      <a href="https://dic.edu.mk/" target="_blank"><li>Државен Испитен Центар</li></a>
      <a href="https://www.bro.gov.mk/" target="_blank"><li>Биро за развој на образованието</li></a>
      <a href="https://csoo.edu.mk/" target="_blank"><li>Центар за стручно образование и наука</li></a>
    </ul>
  </div>
  <div class="container">
    <ul class="list">
      <a href="https://prijava.aa.mk/" target="_blank"> <li>Пријава на Агенција за администрација</li></a>
      <a href="https://aa.mk" target="_blank"><li>Агенција за администрација на РСМ</li></a>
      <a href="https://dzr.mk/mk" target="_blank"><li>Државен завод за ревизија</li></a>
      <a href="https://www.posta.com.mk/" target="_blank"><li>Македонска Пошта</li></a>
      <a href="https://isos.com.mk/" target="_blank"><li>И С О С</li></a>
    </ul>
  </div>
</main>
