/* FONT IMPORTS*/
@import url(https://fonts.bunny.net/css?family=architects-daughter:400);
@import url(https://fonts.bunny.net/css?family=berkshire-swash:400);
@import url(https://fonts.bunny.net/css?family=fira-sans-condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,800,800i,900,900i);
@import url(https://fonts.bunny.net/css?family=fira-sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700i,800,800i,900,900i);
@import url(https://fonts.bunny.net/css?family=poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.bunny.net/css?family=black-ops-one:400);
@import url(https://fonts.bunny.net/css?family=cabin-sketch:400,700);
@import url(https://fonts.bunny.net/css?family=pt-sans:400,400i,700,700i);

:root {
  --ff-1: 'Berkshire Swash', handwriting;
  --ff-2: 'Architects Daughter', handwriting;
  --ff-3: 'Fira Sans Condensed', sans-serif;
  --ff-4: 'Fira Sans', sans-serif;
  --ff-5: 'Black Ops One', display;
  --ff-6: 'Cabin Sketch', display;
  --ff-7: 'PT Sans', sans-serif;
  --ff-8: 'Poppins', sans-serif;

  --clr-bg: #354059;
  --clr-yellow: #d79921;
  --clr-gold-1: #b9b7a6;
  --clr-samanta: #00ffff;
  --clr-dsamanta: #10ebe4;
  --clr-purple: #bd93f9;
  --clr-dpurple: rgba(189, 147, 249, 0.17);
  --clr-lgreen: #50fa7b;
  --clr-dgreen: rgba(80, 250, 123, 0.7);
  --clr-white: #f8f8f2;
  --clr-dwhite: #eeeeee;
  --clr-dim1: hsl(265, 90%, 70%);
  --clr-drac: #4e376e;

  --fs--3: clamp(0.5208rem, 0.45rem + 1vw, 0.8365rem);
  --fs--2: clamp(0.7378rem, 0.5335rem + 1.0218vw, 1.6rem);
  --fs--1: clamp(1.2676rem, 0.6212rem + 1.0218vw, 2rem);
  --fs-0: clamp(1.0625rem, 0.7218rem + 1.7037vw, 2.5rem);
  --fs-1: clamp(1.275rem, 0.8365rem + 2.1926vw, 3.125rem);
  --fs-2: clamp(1.53rem, 0.9667rem + 2.8163vw, 3.9063rem);
  --fs-6: clamp(1.275rem, 0.7218rem + 2.1926vw, 1.4621rem);
  --fs-3: clamp(1.836rem, 1.1138rem + 3.611vw, 4.8828rem);
  --fs-4: clamp(2.2032rem, 1.2787rem + 4.6226vw, 6.1035rem);
  --fs-5: clamp(2.6438rem, 1.4621rem + 5.9088vw, 7.6294rem);
}

* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-8);
}

body, html {
 /* #background-image: url('https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80'); */
  /*background-image: linear-gradient(rgba(0, 8, 51, 0.6),rgba(0, 8, 51, 0.6)), url("img/background.avif");*/
  width: 100%;
  height: 135%;
  margin: 0;
  background-image: linear-gradient(rgba(0, 8, 51, 0.5),rgba(0, 8, 51, 0.5)), url("/assets/img/bg3.png");
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  /*height:auto;*/
  font-family: var(--ff-8);
 /* background-color: black; */
/*   backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px) */
}

h2 {
  font-family: var(--ff-7);
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 1.5px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}


a:hover {
  color: burlywood;
}

/*.navbar .logo a:hover {
  color:cornsilk;
}

/* HEADER */

/*header {
  position: relative;
  padding: o 2rem;
  margin-top: 22px;
}

.navbar {
  width: 100%;
  height: 68px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--ff-1);
  color: burlywood;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}


.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.links {
  transition: scale 0.2 ease;
}

.links li a {
  font-family: var(--ff-4);
  font-size: 1.17rem;
}

.links li:hover {
  scale: 1.1;
}

.links li:active {
  color: orange;
}

.house {
  color: burlywood;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right:2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(13px);
  border-radius: 10px;
  overflow: hidden;
  font-family: var(--ff-4);
  font-weight: 600;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu li:hover {
  /*background: rgba(246, 255, 0, 0.4);*/
  /*background: rgba(34, 84, 95, 0.4);*/
  /*background: rgba(57, 103, 108, 0.8);
  border: none;
  border-radius: 10px;
}
.dropdown_menu li a:hover {
  color: rgba(246, 255, 0, 0.4);
}*/

/* RESPONSIVE DESIGN */

/*.navbar li a:is(:link, :active, :visited){
  color: white;
}*/

/*.navbar li a:is(:link, :active, :visited).active{
  color:orange;
}*/

.naslov {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 40px;
}

.h1-linux {
  font-family: var(--ff-2); 
  font-style: italic;
}

.naslov h1 a {
  font-size: 45px;
  color: burlywood;
}

@media (max-width: 576px) {
  body {
   height: auto;
  }

  .container {
    max-width: 90%;
  }

  footer {
    padding: 10px;
    margin-top: 50px;
  }

  .linux-logo {
    margin-right: 0.5rem;
    height: 120px;
    width: 120px;
  }
  
  .naslov .h1-linux {
    font-size: 18.5px;
  }
}



/* MAIN CONTENT */

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 7px;
  margin-left: 45px;
  margin-right: 20px;
  margin-top: 100px;
  justify-items: center;
}

.container{
display: block;
text-align: center;
line-height: 2.2;
/* background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(2px); */
border: none;
border-radius: 10px;
/*width: 115%;*/
height: fit-content;
}

.list li {
color: burlywood;
font-family: var(--ff-7);
font-size: 20px;
font-weight: 700;

}

.list li:hover {
  background-color: rgba(250, 235, 215, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

.naslov-h2 {
  color: antiquewhite;
  /*border: 0.5px antiquewhite;*/
  border-style: inset;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
  max-width: 100%;
  margin-left: 8px;
}


footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top: 150px;
}

.n-h2 {
  color: antiquewhite;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
}

.godina {
  font-family: var(--ff-6);
  font-size: 22px;
}

@media (max-width: 1670px) {

  body {
    background-size:cover;
  }
  .main {
    margin-left: 10px;
  }

  .list li {
    font-size: 17px;
  }
}

@media (max-width: 1300px) {

  .list li {
    font-size: 16px;
  }
}


@media (max-width: 1230px) {
  body {
    height: auto;
    background-repeat: no-repeat;
 }

  .main {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  .container {
    max-width: 70%;
  }
}

/* E-SERVISI */

.servisi-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 24px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
}

.servis {
  width: 385px;
  height: 150px;
  border: antiquewhite solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
  font-style: oblique;
  font-family: var(--ff-7);
  border-radius: 11px;
}
.kalkulator {
  text-align: center;
}

.servis:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

@media (max-width: 1575px) {
  .servisi-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .main {
   min-height: 55vh;
  }

}

@media (max-width: 1205px) {

  .servisi-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 100px;
    padding-right: 100px;
  }

}

@media (max-width: 830px) {

  .servisi-wrapper {
    grid-template-columns: 1fr;
  }

  .servis {
    width: 100%;
    font-size: 22px;
    text-align: center;
  }

 .naslov h1 a {
    font-size: 26px;
  }

  footer {
    margin-top: 40px;
    padding: 10px;
  }
}

h3 {
  margin-bottom: 20px;
  font-family: var(--ff-3);
  font-size: 1.45rem;
  color: var(--clr-purple);
}

.linux-logo {
  margin-right: 0.5rem;
  height: 120px;
  width: 120px;
}


nav {
    width: 100%;
    height: 90px;
    /*background-color: #3b5c72;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /*position: fixed;*/
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0 6px 12px rgba(222, 143, 78, 0.15);
    transition: background-color 0.3s ease;
    /* border-bottom: 0.2px solid #de8f4e; */
}

nav:hover {
   /* background-color: #2f475f;*/
}

.logo {
    font-family: var(--ff-1);
    font-size: var(--fs--2);
    color: #de8f4e;
    /* color: #f4a261 */
    font-weight: 600;
    letter-spacing: 1.5px;
    transition: color 0.3s ease;
}

.logo a {
  font-family: var(--ff-1);
  color: #de8f4e;
}

.logo a:hover {
    color: #f4a261;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    font-family: var(--ff-2);
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: var(--clr-gold-1);
    font-size: var(--fs--2);
    padding: 12px 25px;
    border-radius: 3px;
    position: relative;
    transition: all 0.3s ease;
    font-weight: 500;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #de8f4e;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    /*background-color: #2f475f;*/
    color: #de8f4e;
}

nav ul li a:hover::after {
    width: 100%;
}

.active {
    /*background-color: #f4a261;*/
    border-radius: 5px;
    /*color: #3b5c72;*/
    color: #de8f4e;
}

#checkbtn {
    display: none;
    font-size: 28px;
    color: #f1faee;
    cursor: pointer;
    z-index: 1000;
}

#check {
    display: none;
}

#check:checked ~ ul {
    left: 0;
}

@media (max-width: 970px) {
    nav ul {
        position: fixed;
        top: 90px;
        left: -500%;
        width: 100%;
        height: 100vh;
        /*background-color: rgba(0, 0, 0, 0.8);*/
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(13px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: left 0.3s ease;
    }
    nav ul li {
        display: block;
        width: 100%;
        text-align: center;
        margin: 12px 0;
    }
    nav ul li a {
        /*font-size: 22px;*/
        padding: 15px 30px;
        letter-spacing: 1px;
    }
    #checkbtn {
        display: block;
    }
}

@media (max-width: 475px) {
    .logo {
        /*font-size: 28px;*/
    }
    nav ul li a {
        /*font-size: 18px;*/
    }
}
@media(max-width:1100px){
    nav ul{
        gap: 10px;
    }
    nav ul li a {
        padding: 12px 15px;
    }
}
@media (max-width: 320px) {
    .logo {
        /*font-size: 22px;*/
    }
    nav ul li a {
        /*font-size: 16px;*/
        padding: 12px 20px;
    }

    .h1-linux {
      font-size: 18px;
    }
}

